<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-content">
      <div class="header">
        <p>{{ shop }}</p>
      </div>
      <div class="body">
        <h1>Good News!</h1>
        <p>Your product is back in stock and now available.</p>
        <div class="product-info">
          <img src="{{ product.image }}" alt="" />

          <div class="product-description">
            <p class="product-name">{{ product.name }}</p>
            <p class="product-price">{{ product.price }}</p>
          </div>
        </div>
        <a href="{{ product.url }}" class="checkout">Checkout Now</a>
        <hr />
        <p class="contact">
          If you have any questions, reply to this email or contact us at xxxxx.
        </p>
      </div>
    </div>

    <style>
      * {
        font-family: 'Barlow';
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 15rem;
        height: 15rem;
      }

      .main-content {
        width: fit-content;
        border: 1px solid black;
      }

      .header {
        padding-block: 30px;
        padding-inline: 38px;
        text-align: center;
        font-size: 1.4rem;
      }

      .body {
        text-align: center;
        background: linear-gradient(#f6f6f6, #f6f6f6) top,
          linear-gradient(white, white) bottom;
        background-size: 100% 50%;
        background-repeat: no-repeat;
        padding: 1.2rem 2rem;
      }

      .body > p {
        margin-block: 1.3rem;
      }

      .product-info {
        width: fit-content;
        margin: auto;
      }

      .product-description {
        margin-inline: auto;
        margin-top: 1rem;
        text-align: left;
      }

      .product-name {
        font-weight: bold;
      }

      .checkout {
        color: white;
        display: block;
        background: black;
        text-decoration: none;
        font-weight: 400;
        width: fit-content;
        margin: 1.3rem auto;
        text-transform: uppercase;
        padding: 1.1rem 1.7rem;
        border-radius: 4rem;
      }

      .contact {
        font-size: 0.65rem;
      }
    </style>
  </body>
</html>
